header{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    height: 60px;
    width: 100%;
}

.Menu{
    padding: 10px;
    display: flex;
    gap: 10px;
    text-decoration: none;
}

header a{
    text-decoration: none;
    color: white;
}

header a:hover{
    color: green;
}